.my-project {
  color: #000;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: 'IBMPlexSansKR-Regular';
  white-space: break-spaces;
}

.my-project-title {
  margin: 50px 0;
  line-height: 5.3rem;
  font-size: 5rem;
  font-weight: 600;
}

.my-project-update {
  display: flex;
  margin: 10px 0;
}

.my-project-update p {
  font-size: 1.5rem;
  color: #00000090;
}

.my-project-update p:nth-child(2) {
  margin: 0 20px;
}

.my-project-intro p {
  word-break: keep-all;
  font-size: 1.7rem;
  line-height: 3rem;
  font-weight: 500;
}

.my-project-stack {
  margin: 50px 0;
}

.my-project-skills {
  display: flex;
}

.my-project-skills div {
  border-radius: 25px;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  margin-right: 10px;
}

.my-project-skills div p {
  font-size: 1.5rem;
}

.my-project-img {
  margin: 40px 0;
}

.my-project-img img {
  width: 1200px;
  height: 800px;
  object-fit: fill;
}

.my-project-result {
  margin: 0 0 100px;
}

.my-project-result li {
  margin: 10px 0;
  list-style-type: circle;
  font-size: 1.7rem;
}

.my-project-result p {
  font-size: 1.7rem;
  word-break: keep-all;
  line-height: 3rem;
}

.my-project-next {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 50px 0;
}

.my-project-next button {
  border: 0;
  background: none;
  font-size: 2rem;
  cursor: pointer;
}

.my-project-next svg {
  height: 100px;
  width: 70px;
}
