.c-indicator-stick {
  position: fixed;
  top: 50%;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  padding: 20px 5px;
  border: 0;
  border-radius: 30px;
  background-color: #c0c0c0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 99;
}

.c-indicator-stick * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 20px 0;
  cursor: pointer;
}

.c-indicator-stick div:hover svg {
  fill: #fff;
}

.c-indicator-side {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  padding: 5% 0;
  margin: 5% 0;
  border: 0;
  border-radius: 30px;
  background-color: #0c3184;
}

.c-indicator-side__item {
  font-size: 1.5vw;
  text-align: center;
  padding: 5% 0;
  z-index: 5;
  background-color: #0c3184;
}

.c-indicator-side__line {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  border-right: 3px solid #edd451;
  z-index: 1;
}
