.newSec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: var(--color-black);
  overflow: hidden;
  font-size: 1vw;
  background-color: var(--color-beige);
  padding: 0 15vw;
}

.newSec__title {
  padding: 5vh 0 0;
}

.skillSet {
  border: 5px solid #fff;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.newSec__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
