.firstpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.firstpage-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
  background-color: #0c3184;
  margin: 0;
}

.firstpage-introduce {
  margin: 0 auto;
}

.firstpage-name__paragraph {
  font-size: 5vw;
  font-weight: 700;
}

.firstpage-info {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 10px;
  margin: 0 0 30px 0;
  color: var(--blue);
  border-radius: 15px;
  background-color: #fff;
}

.firstpage-info__paragraph {
  font-size: 1.3vw;
}

.firstpage__text {
  font-size: 1vw;
}

.firstpage-btnbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 50px 0;
  cursor: pointer;
}

.firstpage-btnbox__button {
  width: 30px;
  height: 30px;
  padding: 6px 10px;
  border: 0;
  margin: 0 20px;
  border-radius: 50%;
  color: #4d92f1;
  background-color: #fff;
  cursor: pointer;
  padding: 2px 1px 0 0;
}

.firstpage-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  color: #000;
  overflow: hidden;
}

.firstpage-right__text {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  font-size: 6rem;
  font-weight: 700;
  margin: 0 30px;
  line-height: 5rem;
}
