.fourthpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  font-size: 1vw;
  background-color: var(--color-teal-blue);
}

.fourthpage-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70vw;
  height: 75vh;
  margin: 0 auto;
  padding: 1%;
  box-shadow: 0 0 20px #000;
}

.newSec__title {
  padding: 0 0 5%;
}

.fourthpage-big {
  display: flex;
  margin: 0 auto;
  width: fit-content;
}

.fourthpage-big svg {
  display: block;
  width: 7vw;
  margin: 0 auto;
  fill: var(--color-bright-blue);
}

.fourthpage-big__svg {
  width: fit-content;
  margin: 0 6vw 0 0;
}

.fourthpage-big__container {
  display: flex;
  align-items: center;
}

.fourthpage-big__item {
  width: 5vw;
  height: 5vh;
  cursor: pointer;
  padding: 2em 0;
  border-radius: 15px;
  margin: 0 3vw;
}

.fourthpage-big__p {
  color: var(--color-white);
  font-weight: bold;
  height: min-content;
  font-size: 1rem;
}

.fourthpage-big__container:hover svg {
  fill: var(--color-yellow);
}

.fourthpage-big__item svg {
  height: inherit;
  width: inherit;
}

.fourthpage-big__item:hover svg {
  fill: var(--color-yellow);
}
