.fourthpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  overflow: hidden;
  font-size: 1vw;
}

.fourthpage-right {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3%;
}

.fourthpage-box {
  margin: 2px;
}

.fourthpage-title {
  color: var(--color-base-blue);
  text-align: center;
  font-size: 2vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.fourthpage-section {
  width: 75vw;
  margin: 20vh auto 0;
}

.fourthpage-big {
  display: flex;
  margin: 0 auto;
  width: fit-content;
}

.fourthpage-big svg {
  display: block;
  width: 7vw;
  margin: 0 auto;
  fill: var(--color-dark-blue);
}

.fourthpage-big__svg {
  margin: 0 5vw 0 0;
}

.fourthpage-big__container {
  display: flex;
  align-items: center;
}

.fourthpage-big__item {
  width: 5vw;
  height: 5vh;
  cursor: pointer;
  padding: 2em 0;
  border-radius: 15px;
  margin: 0 3vw;
}

.fourthpage-big__p {
  color: var(--color-black);
  font-weight: bold;
  height: min-content;
}

.fourthpage-big__container:hover svg {
  fill: var(--color-yellow);
}

.fourthpage-big__item svg {
  height: inherit;
  width: inherit;
}

.fourthpage-big__item:hover svg {
  fill: var(--color-yellow);
}
