.frontpage {
  position: relative;
  height: 100%;
  background-color: #fff;
  font-family: "Pretendard-Regular";
  font-weight: 500;
  white-space: pre-line;
  --blue: #4d92f1;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

p {
  font-size: 1vw;
  margin: 0;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}
