.back {
  background-color: #f8f8f8;
}

.hidden {
  color: #000;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px 10px;
  font-family: 'IBMPlexSansKR-Regular';
  white-space: break-spaces;
}

.hidden * {
  font-family: 'IBMPlexSansKR-Regular';
}

.hidden-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  padding: 20px 0;
}

.hidden-header button {
  background: none;
  font-weight: bold;
  border: 0;
  font-size: 0.8rem;
  margin: 0 10px;
  cursor: pointer;
}

.hidden-title {
  margin: 0 0 40px;
}

.hidden-title p {
  line-height: 5rem;
  font-size: 4rem;
}

.hidden-img {
  height: 600px;
  background-color: #292929;
  border-radius: 25px;
  overflow: hidden;
}

.hidden-img img {
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
  object-fit: cover;
}

.hidden-intro {
  margin: 40px 0;
}

.hidden-intro p {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 3rem;
}

.hidden-about {
  position: relative;
  margin: 80px 0;
}

.hidden-about-title {
  font-size: 3rem;
  font-weight: 600;
}

.hidden-about-index {
  position: relative;
  padding: 10px;
  border: 4px solid #000;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  margin: 10px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  border-radius: 25px;
}

.hidden-about-index:hover .hidden-about-abs {
  height: 20%;
}

.hidden-about-abs {
  position: absolute;
  left: -1%;
  bottom: -5px;
  background-color: #f8f8f8;
  height: 60%;
  width: 102%;
  z-index: 2;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.hidden-about-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hidden-about-num {
  font-size: 2rem;
  z-index: 3;
}

.hidden-about-text {
  margin: 0 0 0 50px;
  font-size: 5rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  line-height: 5rem;
  z-index: 3;
}

.hidden-about-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 200px;
  margin: 50px 0 50px 50px;
  /* animation: slideOut 0.5s linear forwards; */
  overflow: hidden;
}

@-webkit-keyframes slideOut {
  0% {
    height: 0px;
  }
  100% {
    height: 300px;
  }
}

@keyframes slideOut {
  0% {
    height: 0px;
  }
  100% {
    height: 300px;
  }
}

.hidden-about-detail P {
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: 600;
}

.hidden-skill-title {
  font-size: 3rem;
  font-weight: 600;
}

.hidden-skill-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

.hidden-skill-detail {
  padding: 50px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 700px;
  height: 400px;
  border-radius: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
}

.hidden-skill-detail p {
  font-size: 1.3rem;
  font-weight: 600;
  word-break: keep-all;
}

.hidden-skill-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.hidden-skill-icon img {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.hidden-skill-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 500px;
  height: 400px;
  border-radius: 25px;
}

@-webkit-keyframes Yrotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate3d(0, 0deg);
    transform: translate(-50%, -50%) rotate3d(0, 0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate3d(1, 1, 1, 360deg);
    transform: translate(-50%, -50%) rotate3d(1, 1, 1, 360deg);
  }
}

@keyframes Yrotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate3d(0, 0deg);
    transform: translate(-50%, -50%) rotate3d(0, 0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate3d(1, 1, 1, 360deg);
    transform: translate(-50%, -50%) rotate3d(1, 1, 1, 360deg);
  }
}

@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.hidden-skill-one {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 2px solid #000;
  background: none;
  -webkit-animation: spin 2s infinite linear both;
  animation: spin 2s infinite linear both;
}

.hidden-skill-two {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 2px solid #000;
  background: none;
  -webkit-animation: spin 2.5s infinite linear;
  animation: spin 2.5s infinite linear;
}

.hidden-skill-three {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 3px solid #000;
  background: none;
  -webkit-animation: spin 4s infinite linear;
  animation: spin 4s infinite linear;
}

.hidden-skill-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  border-left: 1px solid #000;
  -webkit-transform: translate(-50%, -50%) rotateZ(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotateZ(45deg);
  height: 100%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateX(-180deg) rotateY(180deg);
    transform: rotateX(-180deg) rotateY(180deg);
  }
  90% {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateX(-180deg) rotateY(180deg);
    transform: rotateX(-180deg) rotateY(180deg);
  }
  90% {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }
}

.hidden-skill-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation: dot 0.5s linear infinite alternate-reverse;
}

@-webkit-keyframes dot {
  0% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translate(-50%, 3500%);
    transform: translate(-50%, 3500%);
  }
}

@keyframes dot {
  0% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translate(-50%, 3500%);
    transform: translate(-50%, 3500%);
  }
}

/**----------------------*/

.hidden-skill-square {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 250px;
  height: 250px;
  border: 2px solid #000;
  -webkit-animation: square 5s infinite linear alternate;
  animation: square 5s infinite linear alternate;
}

.hidden-skill-square1 {
  position: absolute;
  top: 20%;
  left: 25%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 250px;
  height: 250px;
  border: 2px solid #000;
  -webkit-animation: square 5s 1s infinite linear alternate;
  animation: square 5s 1s infinite linear alternate;
}

@-webkit-keyframes square {
  0% {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
  20% {
    -webkit-transform: translate(25%, -15%);
    transform: translate(25%, -15%);
  }
  40% {
    -webkit-transform: translate(-25%, 15%);
    transform: translate(-25%, 15%);
  }
  60% {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
  80% {
    -webkit-transform: translate(-25%, -15%);
    transform: translate(-25%, -15%);
  }
  100% {
    -webkit-transform: translate(25%, 15%);
    transform: translate(25%, 15%);
  }
}

@keyframes square {
  0% {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
  20% {
    -webkit-transform: translate(25%, -15%);
    transform: translate(25%, -15%);
  }
  40% {
    -webkit-transform: translate(-25%, 15%);
    transform: translate(-25%, 15%);
  }
  60% {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
  80% {
    -webkit-transform: translate(-25%, -15%);
    transform: translate(-25%, -15%);
  }
  100% {
    -webkit-transform: translate(25%, 15%);
    transform: translate(25%, 15%);
  }
}

.hidden-skill-dot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
}

/**---------------------------------------------------*/

.hidden-project {
  margin: 80px 0;
}

.hidden-project-title {
  font-size: 3rem;
  font-weight: 600;
}

.hidden-project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hidden-project-index {
  position: relative;
  margin: 20px 0;
  width: 270px;
  height: 350px;
  border-radius: 20px;
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
  background-color: #fff;
}

.hidden-project-index img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 20px;
}

.hidden-project-index:hover {
  -webkit-transform: translate(-10%, -20%) rotateZ(-5deg);
  -ms-transform: translate(-10%, -20%) rotate(-5deg);
  transform: translate(-10%, -20%) rotateZ(-5deg);
}

.hidden-project-index:hover .hidden-project-front {
  border: 0;
  color: #fff;
  background-color: #424242;
  -webkit-transform: translate(0%, 50%) rotateZ(10deg);
  -ms-transform: translate(0%, 50%) rotate(10deg);
  transform: translate(0%, 50%) rotateZ(10deg);
}

.hidden-project-front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  height: 350px;
  border: 1px solid #000;
  border-radius: 15px;
  background-color: #fff;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  color: #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hidden-project-front p {
  font-weight: 600;
}

.hidden-project-front p:nth-child(2) {
  font-size: 0.9rem;
  word-break: keep-all;
}

/**---------------------------------------------------*/

.hidden-contact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px 40px 20px;
  height: 250px;
  margin: 100px 0 0;
  background-color: #000;
  color: #fff;
}

.hidden-contact-title p {
  font-size: 3rem;
  font-weight: 600;
}

.hidden-contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hidden-contact-list p:first-child {
  margin: 0 20px 0 0;
  color: #949494;
  font-style: italic;
}

.hidden-contact-list button {
  background: none;
  border: 0;
  color: #fff;
  font-size: 1.2rem;
  padding: 0;
}

.hidden-contact-list a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

.hidden-contact-csv {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50px;
}
