.port-intro {
  display: block;
  height: 100vh;
  background-color: #cdbcab;
}

.port-intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: max-content;
  height: 100%;
}

.port-intro-title {
  font-size: 2rem;
  margin: 0 0 8rem;
}

.port-intro-word {
  white-space: pre-line;
  text-align: center;
  font-size: 1rem;
  line-height: 2rem;
  margin: 0 0 8rem;
  animation: fadeIn 2s forwards;
  opacity: 0;
}

.port-intro-button {
  background: none;
  border: 0;
  color: #fff;
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
  cursor: pointer;
  animation: fadeIn 2s 2s forwards;
  opacity: 0;
}

.port-intro-button:hover {
  color: var(--color-yellow);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
