.temp-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: var(--color-black);
  background-color: var(--color-backBlack);
  font-size: 1vw;
  margin: 0 auto;
}

.temp-sec__collection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.temp-sec-title {
  color: #fff;
  margin: 0 0 8rem;
  font-size: 2rem;
  letter-spacing: 1rem;
}

.temp-sec-inner {
  display: flex;
}

.temp-sec__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 50%;
  box-sizing: border-box;
}

.temp-sec__box svg {
  width: 100px;
  height: 100px;
  fill: var(--color-white);
}

.temp-sec__textBox {
  width: 300px;
  margin: 0 auto;
  color: var(--color-white);
}

.temp-sec__title {
  margin: 1rem 0 3rem;
  text-align: center;
  font-size: 2rem;
  color: var(--color-yellow);
}

.temp-sec__textBox p {
  word-wrap: break-word;
  word-break: keep-all;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.5rem;
  margin: 1rem 0;
}

.temp-sec-pack {
  margin: 0 100px;
}

.temp-sec-button {
  background: none;
  border: 0;
  color: #fff;
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
  cursor: pointer;
  animation: fadeIn 2s 2s forwards;
  opacity: 0;
  margin: 8rem auto 0;
  width: 100px;
}

.temp-sec-button:hover {
  color: var(--color-yellow);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
