.secondpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  color: var(--color-black);
  overflow: hidden;
  font-size: 1vw;
}

.secondpage-right {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3%;
}

.secondpage-box {
  margin: 2px;
}

.secondpage-title {
  color: var(--color-base-blue);
  text-align: center;
  font-size: 2vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.secondpage-section {
  height: 100%;
  width: 70vw;
  margin: 50px 0;
  word-break: break-all;
}

.secondpage-detail {
  display: flex;
  justify-content: center;
  margin: 5vh 0;
}

.secondpage-detail table {
  border-spacing: 5px;
}

.secondpage-description {
  width: 10vw;
  height: 25vh;
  background-color: var(--color-light-sky-blue);
  border-radius: 15px;
}

.secondpage-table_data {
  width: 13vw;
  height: 13vh;
  border: 0;
  background-color: var(--color-base-blue);
  border-radius: 15px;
  color: var(--color-white);
  text-align: center;
  padding: 1vw;
  margin: 0 20px;
}

.secondpage-table_data svg {
  width: 10vw;
  height: 10vh;
  fill: var(--color-white);
}

.secondpage-dropArea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  border: 1px solid var(--color-yellow);
  border-radius: 15px;
  overflow: hidden;
}

.second-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 3vw;
  border-bottom: 1px solid;
}

.second-progress__item {
  position: relative;
  display: inline;
  width: 3vw;
  height: 17vh;
  background-color: var(--color-teal-blue);
  margin: 0 2vw;
}

.second-progress__block {
  position: absolute;
  display: block;
  top: 0;
  left: -2vw;
  width: 3vw;
  background-color: var(--color-white);
  margin: 0 2vw;
}

.second-progress__name {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  bottom: -8vh;
  left: 0;
  padding: 0 3vw;
}

.second-progress__name p {
  width: 3vw;
  margin: 2vw;
  text-align: center;
  font-weight: 700;
}

.second-progress__absolute {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
}

.second-progress__absolute hr {
  margin: 6vh 0 0 0;
}

.paragh {
  font-size: 0.9vw;
  line-height: 30px;
  word-break: break-all;
}
