.thirdpage {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-size: 1vw;
  background-color: #fefefe;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  border-bottom: 100vh solid transparent;
  border-right: 100vw solid transparent;
  border-top: 100vh solid transparent;
  border-left: 100vw solid var(--color-white);
  z-index: 1;
}

.thirdpage-right {
  width: 100%;
  z-index: 3;
}

.newSec__title {
  padding: 5vh 0 0;
}

.thirdpage-title {
  color: var(--color-base-blue);
  text-align: center;
  font-size: 2vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 5%;
}

.thirdpage-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 4% auto 0;
}

.thirdpage-project {
  width: 25vh;
  border: 1px solid();
  margin: 1% 2%;
  border-radius: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1%;
  color: #000;
  cursor: pointer;
}

/* @media (min-width: 768px) and (max-width: 1024px) {
  .c-project-nav p {
    font-size: 1rem;
  }

  .c-project-link__link {
    margin: 0 2vw;
    border: 0;
    font-size: 1rem;
  } */

/* .thirdpage-project:hover {
  -webkit-animation: wig 0.1s linear;
  animation: wig 0.1s linear;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  color: var(--color-yellow);
} */

.thirdpage-project:hover .thirdpage-description__description {
  top: 100%;
  box-shadow: none;
  color: var(--color-black);
}

.thirdpage-project:hover .thirdpage-description__svg svg {
  fill: var(--color-black);
}

.thirdpage-project:hover .thirdpage-description__number {
  color: var(--color-yellow);
}

@keyframes down {
  from {
    top: 63%;
  }
  to {
    top: 100%;
  }
}

@-webkit-keyframes wig {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  20% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  40% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}
@keyframes wig {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  20% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  40% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}

.thirdpage-description__term {
  font-size: 2vw;
}

.thirdpage-description__number {
  font-size: 18vh;
  margin: 0;
  text-align: center;
}

.thirdpage-description__description {
  position: absolute;
  top: 63%;
  margin: 0;
  text-align: center;
  border-top: 2px solid;
  background-color: var(--color-white);
  box-shadow: 0 -15px 10px -10px #00000044;
  transition: all 1.5s;
  color: var(--color-gray);
}

.thirdpage-description__title {
  width: -webkit-min-content;
  width: -moz-min-content;
  font-size: 2.5vh;
  margin: 20% 0;
}

.thirdpage-description__paragraph {
  font-size: 1.5vh;
  line-height: 3vh;
  word-break: keep-all;
}

.thirdpage-description__list {
  position: relative;
  margin: 0;
}

.thirdpage-description__list hr {
  margin: 1vh 0 2vh;
}

.thirdpage-description__svg {
  margin: 30% 0 0;
}

.thirdpage-description__svg svg {
  width: 5vh;
  height: 5vh;
  fill: var(--color-gray);
}

.transiton-effect {
  position: fixed;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-animation: pages 2s;
  animation: pages 2s;
  background-color: var(--color-dark-blue);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 99;
}

@-webkit-keyframes pages {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(100);
    transform: scale(100);
  }
}

@keyframes pages {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(100);
    transform: scale(100);
  }
}

/**part*/

/* .third-section-book {
  position: relative;
  display: flex;
  border: 1px solid;
  width: 75vw;
  padding: 0;
}

.third-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 70vw;
}

.third-section-book ol {
  display: flex;
  position: relative;
  list-style: none;
  padding: 0;
}

.third-section-book li:first-child {
  position: relative;
  height: 90vh;
  width: 7vw;
  background-color: #4d92f1;
  z-index: 4;
  color: #fff;
  cursor: pointer;
}

.third-section-book li:first-child:hover {
  transition: all 0.5s;
  color: #000;
}
.third-section-book li:first-child::after {
  position: absolute;
  top: 5%;
  right: -3vw;
  height: 80vh;
  width: 1vw;
  content: "";
}

.third-section-book li:nth-child(2) {
  position: absolute;
  top: 0;
  left: 7vw;
  height: 90vh;
  color: #4d92f1;
  width: 47vw;
  padding: 0 0 0 5vw;
  box-sizing: border-box;
}

.third-book-header {
  margin: 10% 0;
}

.third-section-book li:first-child p {
  font-size: 5rem;
  writing-mode: vertical-rl;
  transform: scale(-1);
  text-align: center;
  height: 100%;
}

.third-section-book ol:nth-child(2) {
  z-index: 1;
}
.third-section-book ol:nth-child(3) {
  z-index: 2;
}
.third-section-book ol:nth-child(4) {
  z-index: 3;
}
.third-section-book ol:nth-child(5) {
  z-index: 4;
}

.aaa {
  transform: translate(47vw, 0);
  transition: all 0.5s;
}

.aaq {
  transform: translate(40vw, 0);
  transition: all 0.5s;
}

.bbb {
  transform: translate(0, 0);
  transition: all 0.5s;
}

.bbq {
  transform: translate(0, 0);
  transition: all 0.5s;
}

.third-setpage {
  margin: 10vh 0;
}

.third-set {
  position: relative;
  width: 30vw;
  height: 15vh;
  margin: 15% 10%;
  padding: 2% 10%;
  box-sizing: border-box;
  background-color: #0c3184;
  border-radius: 15px;
}

.third-set-parah {
  color: #fff;
}

.third-set div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -40%;
  left: -15%;
  width: 6vw;
  height: 12vh;
  background-color: #cfe3fb;
  border-radius: 15px;
}

.third-set div svg {
  width: 7vw;
  height: 10vh;
  margin: 0 auto;
}
 */
