.box{
    display: flex;
    height:100%;
    width:100%;
    justify-content: center;
    align-items: center;
    background-image: url("https://i.pinimg.com/originals/a9/6e/30/a96e30788d743dee8b7c8b0b55832b80.gif");
}

.circle{
    display: flex;
    width:80%;
    justify-content: space-around;
    border-radius: 50%;
  /*   border: 3px solid white; */
    /* animation: goaroun 10s linear infinite normal forwards;
    margin:100px; */
}

.innerCircle{
   width:100px;
   height:100px;
   margin-top: 30px;
   border: 3px solid yellow;
   border-radius: 50%;
   background-color: mediumspringgreen;
   animation: bigsmall 1.5s Infinite alternate;
}

.innerCircle:hover{
    box-shadow: 0 0 .5em, 0 0 .6em;
}

.innerCircle img{
    height: inherit;
    width: inherit;
    border-radius: 50%;
}

.innerCircle a{
    height: inherit;
    width: inherit;
    border-radius: 50%;
}

.innerCircle span{
    height: inherit;
    width: inherit;
    border-radius: 50%;
}

@keyframes bigsmall {
    0% {
      transform: translateY(-2px)
    }
    100% {
      transform: translateY(3px)
    }
  }

/* 
.a{
    background-color: mediumspringgreen;
    transform:translate(300px);
}

.b{
    
    background-color: mediumspringgreen;
    transform:rotate(150deg) translate(350px) rotate(-140deg);
}

.c{
    background-color: mediumspringgreen;
    transform:rotate(75deg) translate(300px) rotate(-70deg);
}

.d{
    background-color: mediumspringgreen;
    transform:rotate(215deg) translate(400px) rotate(-215deg);
}

.e{
    background-color: mediumspringgreen;
    transform:rotate(285deg) translate(360px) rotate(-290deg);
}

@keyframes goaround {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(-360deg);
    }
}
*/

