.project{
    width:81%;
    margin: 0 auto;
    padding: 100px 0 200px 0;
    font-size: 25px;
}

.title{
    font-size: 70px;
    font-weight:bold;
    color:#ADF53E;
    margin-bottom: 90px;
  }

  @media (max-width: 768px){
      .title{
          font-size: 50px;
      }
}

.github{
    font-size: 15px;
    text-decoration-line: none;
    color:#ADF53E;
}

.github:hover{
    font-weight: bold;
}