.project{
    display: flex;
    margin: 150px auto;
    white-space: pre-line;
    line-height: 40px;
  }
  
  .pic{
    height: 100%;
    width: 100%;
  }
  
  .pic img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .intro{
    margin-left: 50px;
    width: 50%;
  }

  .boldwhite{
    font-size: 40px;
    font-weight:bold;
    margin:10px 0 40px 0;
  }

  .Links{
    text-decoration-line : none;
    color: white;
  }

  .Links:hover{
    font-weight: bold;
  }

  .eng{
    font-size: 20px;
  }

  @media (max-width: 768px){
    .project{
      flex-direction: column;
      white-space: normal;
    }
    .intro{
      width: 100%;
      margin:0;
    }
  }
  