.page{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height:100vh;
}

.intro{
    max-width: 1200px;
    margin: 0 auto;
}

.info{
    display: flex;
    width: 100%;
}

.name{
    font-size: 90px;
}

.subname{
    margin:0;
    font-size:30px;
}

.text{
    display: flex;
    font-size: 20px;
    align-items: center;
    width:800px;
}

.pie{
    position: relative;
    right: 0%;
}

.git img{
    border-radius: 50%;
    height: 50px;
    width:50px;
}

.git img:hover{
    background-color: white;
}

.slide{
    margin: 0 auto;
    width:inherit;
}

.slide img{
    height: 600px;
    width: 100%;
}

.button{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height:100px;
}

.Links{
    position: relative;
    text-decoration-line : none;
    color: black;
  }