.sidehead {
    position: fixed;
    width: 100px;
    top: 7em;
    right:6.9em;
    z-index: 99;

  }
  
  .inner{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .down,
  .up{
    border-radius: 50%;
    width: 30px;
    height:30px;
  }

  .low{
    border-radius: 50%;
    width: 30px;
    height:30px;
  }

  .up:active{
    transform: translateY(-5px);
  }

  .down:active{
    transform: translateY(5px);
  }

  .ssp{
    transition: all 0.5s;
  }

  .updown{
    display: none;
  }

  @media (max-width: 1500px){
    .sidehead {
      position: fixed;
      width:auto;
      top:auto;
      bottom:2em;
      right:1em;
      z-index: 99;
    }
    .inner{
      display: none;
    }
    .updown{
      display: block;
      color:hsl(0, 0%, 53%)
    }
  }