.fullbox{
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px;
}

.skillbox{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

.leftover{
}

.overbox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin:50px auto 0 auto;
    padding: 20px;
    border: 3px solid white;
    border-radius: 15px;
}

.overbox div img {
    width: 100px;
    height: 100px;
    /* transition: all 0.5s; */
    /* transform: scale(1); */
    animation: bigsmall 1.5s Infinite alternate;
  }
  
  @keyframes bigsmall {
    0% {
      transform: translateY(-2px)
    }
    100% {
      transform: translateY(3px)
    }
  }