.main {
  display: flex;
  justify-content: center;
}

.box {
  padding: 100px;
}

.inner {
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
}

.item {
  width: 300px;
}

.item2 {
  display: flex;
  justify-content: space-around;
}
