.hidden-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  padding: 20px 0;
}

.hidden-header button {
  background: none;
  font-weight: bold;
  border: 0;
  font-size: 0.8rem;
  margin: 0 10px;
  cursor: pointer;
}
