.page {
  font-size: 25px;
  white-space: pre-line;
}

.intro {
  border-bottom: 1px solid #67f5e1;
  padding: 0 20px;
}

.pages {
  margin: 0;
  font-size: 25px;
  padding: 40px 0;
}

.title {
  font-size: 70px;
  font-weight: bold;
  color: #adf53e;
  margin-bottom: 90px;
}

.detail {
  display: flex;
  margin: 0 0 20px 0;
  font-size: 23px;
}

.pagelink {
  font-size: 16px;
  text-decoration: none;
  color: #adf53e;
}

.pagelink:hover {
  font-weight: bold;
}

.info {
  display: flex;
  align-items: center;
}

.text {
  font-size: 20px;
  line-height: 40px;
}

.pie {
  margin-left: 60px;
  overflow: visible;
}

.Links {
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  color: white;
}

.Links:hover {
  font-weight: bold;
}

.imageslide {
  display: flex;
  position: relative;
  min-height: 500px;
  height: 900px;
  max-width: 1000px;
  border: 2px solid #ffffff;
  margin: 0 auto;
  flex-wrap: nowrap;
  overflow: hidden;
}

.imageslide_LeftB {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 50%;
  background-color: #0000007e;
  color: #ff0000;
  z-index: 99;
}

.imageslide_RightB {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 50%;
  background-color: #0000007e;
  color: #ff0000;
  z-index: 99;
}
.imageslide_RightB:active {
  background-color: #67f5e1;
}

.polpol {
  position: relative;
  -webkit-transition: -webkit-transform 1.5s alternate;
  transition: -webkit-transform 1.5s alternate;
  -o-transition: transform 1.5s alternate;
  transition: transform 1.5s alternate;
  transition: transform 1.5s alternate, -webkit-transform 1.5s alternate;
  width: 100%;
}

.imageslide img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .page {
    white-space: normal;
  }
  .sideline {
    display: none;
  }
  .pages {
    padding: 0;
  }
  .title {
    font-size: 50px;
    margin-bottom: 30px;
  }
  .info {
    flex-direction: column-reverse;
    white-space: normal;
    margin-bottom: 50px;
  }
  .pie {
    margin: 0;
  }
  .git {
    display: none;
  }
  .button {
    top: 1em;
    left: 0.5em;
    font-size: 20px;
  }
  .slide {
    margin-bottom: 50px;
    padding: 0;
  }
  .slide img {
    height: 50vh;
  }
}

@media (max-width: 1280px) {
  .page {
    white-space: normal;
  }
  .sideline {
    display: none;
  }
  .git {
    display: none;
  }
  .button {
    top: 1em;
    left: 0.5em;
    font-size: 20px;
  }
}
