.listpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
}

.listpage__button {
  position: absolute;
  top: 1vh;
  left: 1vw;
  width: 2vw;
  height: 4vh;
  border-radius: 50%;
  border: 0;
  color: #fff;
  background-color: #cfe3fb;
  opacity: 0;
  cursor: pointer;
  -webkit-animation: fadein 1s linear 1.3s forwards;
  animation: fadein 1s linear 1.3s forwards;
}

.listpage__button:hover {
  background-color: #0c3184;
}

.listpage-line {
  position: absolute;
  display: none;
  top: 10%;
  left: 0;
  border: 5px solid #0c3184;
  width: 150vw;
  -webkit-transform: skewY(-45deg);
  -ms-transform: skewY(-45deg);
  transform: skewY(-45deg);
  z-index: 99;
  -webkit-animation: line 4s;
  animation: line 4s;
}

@-webkit-keyframes line {
  from {
    -webkit-transform: scale(1) skewY(-45deg);
    transform: scale(1) skewY(-45deg);
  }
  to {
    -webkit-transform: scale(1000) skewY(-45deg);
    transform: scale(1000) skewY(-45deg);
  }
}

@keyframes line {
  from {
    -webkit-transform: scale(1) skewY(-45deg);
    transform: scale(1) skewY(-45deg);
  }
  to {
    -webkit-transform: scale(1000) skewY(-45deg);
    transform: scale(1000) skewY(-45deg);
  }
}

.listpage-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.listpage-menu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  top: 50%;
  left: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: fadein 1s linear 1.3s forwards;
  animation: fadein 1s linear 1.3s forwards;
  opacity: 0;
  overflow: hidden;
}

.listpage-menu__button {
  position: relative;
  margin: 9% 0;
  border: 0;
  background: none;
  color: #cfe3fb;
  text-decoration: none;
  font-size: 4vw;
  text-align: center;
  cursor: pointer;
}

.listpage-menu__link {
  position: relative;
  font-size: 4vw;
  color: #cfe3fb;
  text-align: center;
  cursor: pointer;
  margin: 10% 0;
  text-decoration: none;
}

.listpage-menu__button:focus {
  outline: none;
}

.listpage-menu__link::after,
.listpage-menu__button::after {
  position: absolute;
  top: 2.5vw;
  left: 0;
  display: none;
  width: 22vw;
  color: #fff;
  border: 4px solid;
  -webkit-transform: skewY(5deg) translate(0, -50%);
  -ms-transform: skewY(5deg) translate(0, -50%);
  transform: skewY(5deg) translate(0, -50%);
  content: "";
}

.listpage-menu__link:hover,
.listpage-menu__button:hover {
  color: #0c3184;
  -webkit-transform: skewY(7deg);
  -ms-transform: skewY(7deg);
  transform: skewY(7deg);
}
.listpage-menu__link:hover::after,
.listpage-menu__button:hover::after {
  display: block;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
}

.listpage-project__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.listpage-project__item {
  margin: 0 20px;
}

.listpage-project__item:first-child {
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  border-radius: 15px;
  background-color: #0c3184;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.listpage-project__link {
  position: relative;
  font-size: 2vw;
  color: #cfe3fb;
  text-align: center;
  cursor: pointer;
  margin: 10% 0;
  text-decoration: none;
  font-weight: 1000;
}

.listpage-project__link::after {
  display: none;
}

.listpage-project__link:hover::after {
  display: none;
}

.listpage-project__link:hover {
  color: #fff;
}

.listpage-front {
  font-size: 50vw;
  font-weight: 1000;
  color: #0c3184;
  opacity: 0.7;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-animation: move 2s linear;
  animation: move 2s linear;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
  100% {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
  100% {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
