.listpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-backBlack);
}

.listpage__button {
  position: absolute;
  top: 1vh;
  left: 1vw;
  width: 2vw;
  height: 4vh;
  border-radius: 50%;
  border: 0;
  color: var(--color-black);
  background-color: var(--color-white);
  opacity: 0;
  cursor: pointer;
  -webkit-animation: fadein 1s linear 1.3s forwards;
  animation: fadein 1s linear 1.3s forwards;
}

.listpage-line {
  position: absolute;
  display: none;
  top: 10%;
  left: 0;
  border: 5px solid var(--color-black);
  width: 150vw;
  -webkit-transform: skewY(-45deg);
  -ms-transform: skewY(-45deg);
  transform: skewY(-45deg);
  z-index: 99;
  -webkit-animation: line 4s;
  animation: line 4s;
}

@-webkit-keyframes line {
  from {
    -webkit-transform: scale(1) skewY(-45deg);
    transform: scale(1) skewY(-45deg);
  }
  to {
    -webkit-transform: scale(1000) skewY(-45deg);
    transform: scale(1000) skewY(-45deg);
  }
}

@keyframes line {
  from {
    -webkit-transform: scale(1) skewY(-45deg);
    transform: scale(1) skewY(-45deg);
  }
  to {
    -webkit-transform: scale(1000) skewY(-45deg);
    transform: scale(1000) skewY(-45deg);
  }
}

.listpage-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.listpage-menu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  top: 50%;
  left: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: fadein 1s linear 1.3s forwards;
  animation: fadein 1s linear 1.3s forwards;
  opacity: 0;
}

.listpage-menu__link,
.listpage-menu__button {
  transition: all 0.5s;
  padding: 1.5rem 0;
  letter-spacing: 1rem;
  font-size: 1rem;
  color: var(--color-white);
  text-align: center;
  cursor: pointer;
}

.listpage-menu__link:hover,
.listpage-menu__button:hover {
  font-size: 1.5rem;
  color: var(--color-beige);
}

.listpage-menu__button {
  border: 0;
  background: none;
}

.listpage-menu__button:focus {
  border: none;
  outline: none;
}

.listpage-project__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  position: relative;
  padding: 0;
}

.listpage-project__item {
  margin: 0 20px;
}

.listpage-project__item:first-child {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px 0 0;
  border-radius: 15px;
  background-color: var(--color-beige);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.listpage-project__link {
  position: relative;
  font-size: 1rem;
  color: var(--color-white);
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.listpage-project__link::after {
  display: none;
}

.listpage-project__link:hover::after {
  display: none;
}

.listpage-project__link:hover {
  color: var(--color-white);
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
