.skills {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  margin: 20px 20px;
  background-color: var(--color-light-sky-blue);
  border-radius: 15px;
  padding: 1%;
}

.skills__svgBOx {
  width: fit-content;
  margin: 0 auto;
}

.skills__name {
  margin: 5px auto;
  color: var(--color-gray);
  font-weight: bold;
}

.skills__ul {
  padding: 0;
  list-style: none;
}

.skills__li {
  padding: 5px 30px 5px;
  text-align: center;
  background-image: url('./check.png');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 30px;
}

.skills__li p {
  word-break: keep-all;
  font-size: 0.9rem;
}

.skills svg {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin: 0 auto;
}
