.skills {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 24vh;
  height: 24vh;
  margin: 1vw 1.5vw;
  border-radius: 50%;
  padding: 2%;
  border: 10px solid var(--color-light-sky-blue);
}

.skills__svgBOx {
  width: fit-content;
  margin: 0 auto;
}

.skills__name {
  margin: 5px auto;
  color: var(--color-yellow);
  font-weight: bold;
  font-size: 2vh;
}

.skills__ul {
  padding: 0;
  list-style: none;
}

.skills__li {
  padding: 5px 30px;
  text-align: center;
}

.skills__li p {
  word-break: keep-all;
  font-size: 1vh;
  color: var(--color-white);
}

.skills svg {
  width: 6vh;
  height: 6vh;
  object-fit: cover;
  margin: 0 auto;
}

.skills-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid var(--color-yellow);
  margin: 0 20px;
}

.skills-svg svg {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin: 0 auto;
}
