.project {
  margin: 150px auto;
  white-space: pre-line;
  line-height: 40px;
}

.split {
  display: flex;
}

.pic {
  width: 100%;
  border: 1px solid grey;
}

.pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro {
  margin-left: 50px;
  width: 50%;
}

.boldwhite {
  font-size: 40px;
  color: #adf53e;
  font-weight: bold;
  margin: 10px 0 40px 0;
}

.Links {
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  color: white;
}

.Links:hover {
  font-weight: bold;
}

.eng {
  font-size: 20px;
}
.block-click-popup {
  cursor: pointer;
}
.block-click-popup:hover {
  transform: translateY(2px);
  color: #adf53e;
}

@media (max-width: 768px) {
  .project {
    white-space: normal;
    margin: 150px 0;
  }
  .split {
    flex-direction: column;
  }
  .intro {
    width: 100%;
    margin: 0;
  }
}
