.tophead {
  display: flex;
  position: fixed;
  height: 60px;
  width: 100%;
  justify-content: center;
  top: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  z-index: 99;
}

.tophead.active{
  background-color: black;
}

.topheadin {
  height: 100%;
  width:75%;
}

.topheadmenu {
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  flex-grow: 1;
}

.menuicon {
  display: block;
  height: 40px;
  width: 40px;
}

.menuicon img{
  height: 30px;
  width: 30px;
}

.menulists {
  display: flex;
  width:50%;
  justify-content: space-between;
}

.topheadprofile {
  display: flex;
}

.menulists a {
  color: inherit;
  text-decoration: inherit;
}

@media (max-width: 800px) {
  .menulists {
    display: none;
  }
}