.Skills {
  display: flex;
  position: relative;
  padding: 10px;
  margin-top: 20px;
}

.icon {
  border: 1px solid tomato;
  width: 70px;
  height: 70px;
  border-radius: 7px;
  background-color: white;
}

/* .icon:hover .name {
  opacity: 1;
}
 */
.icon img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.name {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, fantasy;
  font-size: 45px;
  height: 70px;
  width: 210px;
  border: 1px solid blue;
  border-radius: 7px;
  background-color: white;
  text-align: center;
  margin-left: 10px;
  /*   opacity: 0; */
}
