.drop_extend {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 5vw;
}

.drop_element {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  animation: text 1s linear forwards;
  opacity: 0;
}

.drop_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: min-content;
  padding: 20px;
}

.drop_text_svg {
  margin: 30px 0;
}

.drop_text li {
  padding-right: 10px;
}

.drop_text p {
  text-align: center;
  margin: 10px 0;
}

.drop_info {
  margin: 0 0 0 30px;
  width: 300px;
  height: 300px;
  border: 1px solid;
}

@keyframes text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
