.secondpage-table {
  display: flex;
  align-items: center;
  margin: 30px 30px 30px 0;
}

.secondpage-table p {
  width: 20vw;
}

.secondpage-table__list {
  padding: 0;
  list-style: none;
}

.secondpage-table__list li {
  margin: 10px 0;
}

.secondpage-table_data {
  width: 9vw;
  height: 9vw;
  border: 0;
  background-color: var(--color-base-blue);
  border-radius: 15px;
  color: var(--color-white);
  text-align: center;
  padding: 1vw;
  margin: 0 20px;
}

.secondpage-table_data svg {
  width: 7vw;
  height: 7vw;
  fill: var(--color-white);
}

.secondpage-table_data p {
  width: fit-content;
  margin: 10px auto;
}
